<footer class="footer">
  <div class="footer-container">
    <p>© <%= new Date().getFullYear() %> MyBlog | Made with ❤️ by Uttkarsh</p>
    <div class="social-icons">
      <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
