<nav class="navbar">
  <div class="nav-container">
    <h1 class="logo">MyBlog</h1>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>


      <% if (user) { %>
        <li><a href="/blogs/new" class="btn-create">+ Create</a></li>
        <li class="profile-menu">
          <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
               alt="Profile" class="profile-icon" onclick="toggleProfileMenu()" />

          <div class="profile-dropdown" id="profileDropdown">
            <p class="user-name">👋 Hello, <%= user.name %></p>
            <a href="/logout" class="logout-btn">Logout</a>
          </div>
        </li>
      <% } else { %>
        <li><a href="/signuppage" class="btn-login">Login</a></li>
      <% } %>
    </ul>
  </div>
</nav>

<script>
function toggleProfileMenu() {
  const dropdown = document.getElementById("profileDropdown");
  dropdown.classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.profile-icon')) {
    const dropdowns = document.getElementsByClassName("profile-dropdown");
    for (let i = 0; i < dropdowns.length; i++) {
      dropdowns[i].classList.remove("show");
    }
  }
};
</script>
