node_modules/
.env
/.env
npm-debug.log
.DS_Store
# Ignore specific files
config.json
secret.txt
mongodb/
.gitignore

# Ignore all .env files
*.env

# Ignore node_modules folder
node_modules/

# Ignore log files
*.log
